/**
 * @file
 *
 * Styles for the home page.
 */

.home {

  .home__cover {
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);

    background: url('/assets/img/savas_meeting_transparent.jpg') center no-repeat;
    height: 88vh;
    text-align: center;

    // On medium screens, change height to account for menu height.
    @include media($horizontal-bar-mode) {
      height: 78vh;
    }

    // On large screens, adjust height to account for menu height..
    @include media($large-screen-up) {
      height: 88vh;
    }

    // On very large screens, allow background image to scale up to fill screen.
    @include media(1200px) {
      background-size: 100% auto;
    }

    .home__cover__center {
      @include display(flex);
      @include justify-content(center);
      @include align-items(center);
      @include flex-direction(column);

      background-color: $dark-blue;
      border-radius: 50%;
      height: 290px;
      width: 290px;

      img {
        display: none;
      }

      h1, p {
        margin: 0;
      }

      i {
        color: $teal;
        padding-top: 10px;
      }

      .fa-code {
        padding-bottom: 10px;
      }

      .home__cover__site-description {
        color: $base-background-color;
        font-family: $heading-font;
        font-size: 125%;
        font-weight: bold;
        width: 230px;
      }
    }
  }

  .wrapper {
    h3,
    h2 {
      text-align: center;
    }
  }

  .job-posting-block {
    $link-background: lighten($gainsboro, 10%);
    text-align: center;

    @include media($medium-screen-up) {
      @include span-columns(8);
      @include shift(2);

      float: none;
    }

    p {
      font-size: 1.2em;
      text-align: left;
    }
  }

  .home-blog-list {
    clear: both;

    .view-more-posts {
      font-size: 1.2em;
      text-align: center;

      i {
        margin-left: 5px;
      }
    }
  }
}
